@model LoginVM

<div class="min-h-screen flex">
    <!-- Left Section -->
    <div class="w-full md:w-1/3 bg-gradient-to-r from-[#3A015C] to-[#4A3156] p-8 text-white flex flex-col justify-between rounded-tr-lg rounded-br-lg hidden md:flex">
        <div>
            <div class="text-4xl font-bold mb-4">Welcome</div>
            <div class="text-base opacity-80">Please login to continue using our app</div>
        </div>
        <div class="flex justify-center items-center flex-grow">
            <img src="~/images/logo1.png" alt="ether app" class="w-full">
        </div>
    </div>
    <!-- Right Section -->
    <div class="w-full md:w-2/3 p-8 md:p-16 flex flex-col justify-center !bg-white">
        <div class="max-w-md mx-auto w-full">
            <h1 class="text-4xl !text-[#3A015C] mb-8 font-bold">Login Now</h1>
            <form asp-controller="Authentication" asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-red-500 mb-2"></div>
                <div class="mb-6">
                    <input asp-for="Email" placeholder="Enter your Email" class="w-full p-4 bg-[#D8D8D8] border border-gray-300 rounded text-[#3A015C] focus:outline-none focus:ring-2 focus:ring-[#4A3156]">
                    <span asp-validation-for="Email" class="text-red-500 text-xs mt-1"></span>
                </div>
                <div class="mb-6 relative">
                    <input asp-for="Password" type="password" placeholder="Enter your password" class="w-full p-4 bg-[#D8D8D8] border border-gray-300 rounded text-[#3A015C] focus:outline-none focus:ring-2 focus:ring-[#4A3156]">
                    <ion-icon class="absolute right-4 top-1/2 transform -translate-y-1/2 cursor-pointer text-[#4A3156] eye-icon" name="eye-outline"></ion-icon>
                    <span asp-validation-for="Password" class="text-red-500 text-xs mt-1"></span>
                </div>
                <div class="flex items-center justify-between">
                    <div class="flex items-start mb-4">
                        <input asp-for="RememberMe" class="mr-2 mt-1 accent-[#4A3156]">
                        <p>Remember me</p>
                    </div>
                    <a href="#" class="mb-2 text-[#4A3156] font-bold hover:text-[#8D6A8E] transition-all ease-in-out">Forgot password?</a>
                </div>

                <button type="submit" class="w-full p-4 bg-[#4A3156] text-white rounded mb-4 hover:bg-[#8D6A8E] transition-all ease-in-out">Login</button>

                <div class="flex gap-4 mb-6">
                    <a asp-controller="Authentication" asp-action="ExternalLogin" asp-route-provider="Google" class="flex-1 p-3 border border-gray-300 rounded flex items-center justify-center gap-1 bg-white hover:bg-gray-100 transition-all ease-in-out">
                        <ion-icon class="w-8" name="logo-google"></ion-icon>
                        Login with Google
                    </a>
                </div>
                
                <div class="text-center">
                    Don't have an account yet? <a class="text-[#4A3156] font-bold hover:text-[#8D6A8E] transition-all ease-in-out"
                                                  asp-controller="Authentication" asp-action="Register">Sign up</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const eyeIcon = document.querySelector('.eye-icon');
        const passwordInput = document.querySelector('input[type="password"]');

        eyeIcon.addEventListener('click', function() {
            const type = passwordInput.getAttribute('type');
            passwordInput.setAttribute('type', type === 'password' ? 'text' : 'password');
        });
    });


</script>