@model StoryVM;

<div class="hidden lg:p-20" id="create-story" uk-modal="">
    <div class="bg-white uk-modal-dialog relative overflow-hidden mx-auto p-8 shadow-sm rounded-xl md:w-[520px] w-full border border-[#cabeca]">
        <div class="text-center py-4 border-b border-[#cabeca] -mx-8">
            <h2 class="text-2xl font-semibold text-[#4a3256]">Create Your Story</h2>
            <button type="button" class="button__ico absolute top-1 right-0 p-2 uk-modal-close hover:bg-[#eadbf0] rounded-full">
                <ion-icon name="close-outline" class="text-2xl text-[#4a3256]"></ion-icon>
            </button>
        </div>
        <div class="space-y-6 mt-6">
            <form asp-controller="Stories" asp-action="CreateStory" enctype="multipart/form-data">
                <div class="w-full h-72 relative border border-[#cabeca] rounded-lg overflow-hidden bg-[#eadbf0]">
                    <label class="flex flex-col justify-center items-center absolute inset-0 z-10 w-full cursor-pointer bg-gradient-to-t from-[#d2b9e0]/50 to-transparent">
                        <input id="storyUpload" name="Image" type="file" accept="image/png, image/jpeg" hidden />
                        <ion-icon id="storyUploadIcon" name="image" class="text-4xl text-[#4a3256]"></ion-icon>
                        <span id="storyUploadBtn" class="text-[#4a3256] mt-3 font-medium">Upload Your Image</span>
                    </label>
                    <img id="storyPreview" />
                </div>
                <div class="flex justify-between items-center mt-4">
                    <div class="flex items-start gap-3">
                        <ion-icon name="time-outline" class="text-3xl text-white rounded-full bg-[#4a3256] p-2"></ion-icon>
                        <p class="text-sm text-[#4a3256] font-medium">Your Story will be available <br> for <span class="font-bold text-[#4a3256]">24 Hours</span></p>
                    </div>
                    <button type="submit" class="bg-[#4a3256] hover:bg-[#3a015c] text-white px-6 py-2 rounded-lg transition-all">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    const storyUploadBtn = document.getElementById('storyUploadBtn');
    const storyUploadIcon = document.getElementById('storyUploadIcon');
    storyUploadBtn.addEventListener('click', () => {
        event.preventDefault();
        document.getElementById('storyUpload').click();
    });

    document.getElementById('storyUpload').addEventListener('change', (event) => {
        const file = event.target.files[0];
        const storyPreview = document.getElementById('storyPreview');

        if (file) {
            const reader = new FileReader();
            storyUploadBtn.classList.add('hidden');
            storyUploadIcon.classList.add('hidden');
            reader.onload = (e) => {
                storyPreview.src = e.target.result;
            }
            reader.readAsDataURL(file);
        } else {
            storyPreview.src = '';
        }
    });
</script>
